<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-success pull-right" ng-click="billTypeForm()"><i class="fa fa-plus"></i> Add bill type</button>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Is chargeable</th>
                <th>Should calculate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="billType in billTypes">
                <td>{{billType.id}}</td>
                <td>{{billType.name}}</td>
                <td><i class="fa" ng-class="{'fa-times': !billType.chargeable, 'fa-check': billType.chargeable}"></i></td>
                <td><i class="fa" ng-class="{'fa-times': !billType.should_calculate, 'fa-check': billType.should_calculate}"></i></td>
                <td>
                    <i class="fa fa-pencil" ng-click="billTypeForm(billType)"></i>
                    <i class="fa fa-trash" ng-click="removeBillType(billType)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
