.success {
  background-color: $color-success;
  color: #fff;
}

.fail {
  background-color: $color-fail;
  color: #fff;
}

.layout-navbar {
  padding-left: 2rem;
}

@import "home/home";
@import "signIn/signIn";