<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-success pull-right" ng-click="userForm()"><i class="fa fa-plus"></i> Add user</button>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Room</th>
                <th>Balance</th>
                <th>E-mail</th>
                <th>Tel. number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.room.name}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.email}}</td>
                <td>{{user.telephoneNumber}}</td>
                <td>
                    <i class="fa fa-pencil" ng-click="userForm(user)"></i>
                    <i class="fa fa-trash" ng-click="removeUser(user)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
