<div class="modal-header">
    <h3 class="modal-title">Add rent calculation</h3>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="notesInput">Notes</label>
        <input type="text" class="form-control" id="notesInput" placeholder="Notes" ng-model="rentCalculation.notes">
    </div>
    <div class="form-group">
        <label for="apartmentInput">Apartment</label>
        <select class="form-control" id="apartmentInput" name="apartment_id" ng-model="rentCalculation.apartment_id">
            <option ng-repeat="apartment in apartments" value="{{apartment.id}}">
                {{apartment.location}}
            </option>
        </select>
    </div>

    <h3>Bills</h3>
    <div class="form-group" ng-repeat="bill in billTypes">
        <label for="apartmentInput">{{bill.name}}</label>
        <input type="checkbox" ng-model="bill.selected" />
        <table class="table" ng-show="bill.selected">
            <thead>
                <th>Amount</th>
                <th>Notes</th>
                <th>Is paid</th>
            </thead></th>
            <tbody>
                <tr>
                    <td><input type="number" ng-model="bill.amount"></td>
                    <td><input type="text" ng-model="bill.notes" placeholder="Notes"></td>
                    <td><input type="checkbox" ng-model="bill.paid"></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="saveChanges()">{{editMode ? "Save" : "Add"}}</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>